/* --------------------------------------------图片img----------------------------------------------- */
/* not括号里边是排除了自定义表情里边的图片 */
/* .protyle-wysiwyg img:not(img.emoji),
.b3-typography img:not(img.emoji) {
    cursor: pointer;
    border-radius: var(--b3-border-radius-noraml);
    text-align: left;
    position: relative;
} */



.protyle-wysiwyg img:not(img.emoji),
.b3-typography img:not(img.emoji) {
    border-radius: 4px;
}