/* ------------------------------------------------块嵌入/嵌入块------------------------------------------------- */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
    border: 1px solid var(--b3-border-color1);
    border-radius: 0px;
    background-color: transparent;
}


/* 进行SQL查询时嵌入块之间分割线颜色 */
.render-node .protyle-wysiwyg__embed {
    border-top: 0.1em dashed rgba(128, 128, 128, 0.3);
}


/* 嵌入块中标题外边距为4px */
/* .render-node [data-type="NodeHeading"] {
    margin: 4px !important;
} */


/* ------------------------------------------------块嵌入/嵌入块 END------------------------------------------------- */