/* ————————————————————所有边距初始化———————————————————— */
* {
    margin: 0px;
    padding: 0px;
}

/* ----------------------------------------------------块添加圆角------------------------------------------- */
.protyle-wysiwyg [data-node-id] {
    border-radius: var(--b3-border-radius-none);
}

/* 块标提示不被窗口线遮挡 */
.protyle-gutters {
    z-index: 3;
}

/* ————————————————————设置滚动条样式——————————————————__ */
::-webkit-scrollbar-thumb {
    background-color: var(--b3-scroll-color);
    border-radius: var(--b3-border-radius-half-round);
}

/* ————————————————————修改滚动条宽度———————————————————— */
::-webkit-scrollbar {
    width: 8px;
}

/* ————————————————————去掉软件的边框线———————————————————— */
body.body--win32 {
    border: none !important;
}

/* ————————————————————表单设置不能拖拽缩放———————————————————— */
textarea.b3-text-field.fn__flex-1 {
    border: 1px solid transparent;
    resize: none;
}