/* 设置背景颜色 */
/* .protyle-content {
    background-color: var(--b3-theme-background2);
} */

/* 设置正文背景颜色/A4纸大小 */
/* .protyle .b3-typography, */
/* .protyle .protyle-wysiwyg {
    width: 17cm;
    margin: 25px auto 50px !important;
    padding: 2cm !important;
    background-color: var(--b3-theme-background);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
    min-height: 29.7cm;
    text-align: justify;
} */

/* .protyle-content {
    background-image: linear-gradient(to right, rgba(60, 10, 30, 0.05) 1px, transparent 0px);
    background-size: 15vw 15vw !important;
    background-position: 50% center;
} */