/* -------------------------------------------------面包屑导航样式-------------------------------------------- */
.protyle-breadcrumb {
    color: gray;
    background-color: #f2f2f2;
    font-size: 14px !important;
    height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 6px;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid var(--b3-border-color);
    border-radius: 4px !important;
    padding-top: 0px;
}

.protyle-breadcrumb__bar {
    overflow: hidden;
    margin-top: -2px;
}

.protyle-breadcrumb__item svg {
    height: 14px;
    width: 14px;
}

.fn__flex-1.protyle {
    background-color: white;
}

.protyle-content {
    box-shadow: var(--b3-protyle-content-shadow);
}


/* -------------------------------------------------面包屑导航样式 END-------------------------------------------- */

/* 调整面包屑条目颜色（依次为符号icon，小三角标志，文字颜色） */
svg.popover__block,
.protyle-breadcrumb__arrow,
.protyle-breadcrumb__item {
    color: #55555a4d;
}

/* 设置聚焦的块前面的符号颜色和文字颜色为主色 */
span.protyle-breadcrumb__item.protyle-breadcrumb__item--active,
span.protyle-breadcrumb__item.protyle-breadcrumb__item--active svg.popover__block {
    color: var(--b3-theme-primary);
}

/* 鼠标在面包屑上悬浮时更改文字和文字前面icon的颜色 */
.protyle-breadcrumb__item:hover {
    color: var(--b3-theme-on-background) !important;
    /* background-color: rgba(154, 153, 155, .08) !important; */
}

.protyle-breadcrumb__item:hover svg.popover__block {
    color: var(--b3-theme-on-background) !important;
}