/* --------------------------------------------------鼠标样式----------------------------------------------- */
/* ——————————————————————鼠标光标选中文本样式———————————————————————— */
/* *:not(.pdfViewer)::selection {
    background-color: var(--b3-theme-primary);
    color: white;
} */

/* ————————————————————————鼠标划选区域————————————————————————————*/
.protyle-select {
    background-color: transparent !important;
}


/* ————————————————————————————选中块—————————————————————————————— */
.protyle-wysiwyg--select, .protyle-wysiwyg--select .hljs {
    background-color: rgba(128, 128, 128, 0.08) !important;
}

/* --------------------------------------------------鼠标样式 END----------------------------------------------- */