/* --------------------------------------------------警告 error----------------------------------------------- */
.b3-snackbar--error {
    background-color: var(--b3-theme-error);
    color: var(--b3-theme-on-error);
}

.b3-snackbar__content {
    line-height: 20px;
    border-radius: var(--b3-border-radius-noraml);
    padding: 8px 16px;
    color: #fff;
    font-size: inherit;
    background-color: var(--b3-theme-primary);
    box-sizing: border-box;
    transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform: scale(0.8);
    top: 16px;
    position: absolute;
    word-break: break-word;
    max-width: 80vw;
}

.b3-snackbar__close {
    position: absolute;
    color: #fff;
    font-size: 50%;
    padding: 4px;
    background: #ec8d8deb;
    border-radius: var(--b3-border-radius-half-round);
    cursor: pointer;
    top: 2px;
}

.b3-snackbar__content svg:hover {
    color: white;
    transform: scale(1.1);
}

/* --------------------------------------------------警告 END----------------------------------------------- */