/* -----------------------------------------超链接 a----------------------------------- */

.protyle-wysiwyg [data-node-id] span[data-type="a"]:not(:empty) {
    text-decoration: 0.05em solid #0066ff underline;
    text-underline-offset: 2px;
    color: var(--b3-theme-on-background);
}

.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover {
    border-bottom-color: transparent !important;
}


/* 集市中说明文档链接样式 */
.item__readme.b3-typography a {
    border-bottom: 1px solid #0066ff;
}

.item__readme.b3-typography a:hover {
    text-decoration: none;
}


/* ————————————————————标题上的链接去掉下划线，2群群友123的建议———————————————————— */
.h1 span[data-type="a"],
.h2 span[data-type="a"],
.h3 span[data-type="a"],
.h4 span[data-type="a"],
.h5 span[data-type="a"],
.h6 span[data-type="a"] {
    border-bottom-color: transparent !important;
}


/* -----------------------------------------超链接 END----------------------------------- */