/* -------------------------------------------------高亮----------------------------------------------- */
mark {
    border-radius: 0px;
    margin: 0px 0px;
}

/* 搜索高亮 */
.protyle-wysiwyg [data-node-id] span[data-type="search-mark"] {
    outline: 1px solid var(--b3-theme-on-background);
    /* padding-left: 2px;
    padding-right: 2px; */
    color: var(--b3-theme-on-background) !important;
    background-color: transparent !important;
    border-radius: var(--b3-border-radius-none);
}

/* -------------------------------------------------高亮 END----------------------------------------------- */