.callout-content  > .callout{
    white-space: pre-wrap;
}





/*
.callout {
    white-space: pre-wrap;
    overflow:hidden;
    border-style: solid;
    border-color:rgba(var(--callout-color),var(--callout-border-opacity));
    border-width:var(--callout-border-width);
    border-radius:var(--callout-radius);margin:1em 0;
    mix-blend-mode:var(--callout-blend-mode);
    background-color: rgba(var(--callout-color)，0.1);
    padding:var(--callout-padding);
}*/